.reviewInput::placeholder {
  color: white;
  opacity: 1;
}

.reviewInput {
  border: none !important;
  outline: none !important;
  background-color: #56b6c2;
  color: white;
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
}

/* Review button (same as searchButton) */
.reviewButton {
  color: #56b6c2 !important;

  background-color: transparent;
  border-radius: 6px;
  transition: all 0.3s ease;
  padding: 0.375rem 0.75rem;
  box-shadow: none !important;
  filter: none !important;
}

.reviewButton:hover,
.reviewButton:focus,
.reviewButton:focus {
  color: white !important;
  background-color: #56b6c2 !important;
  border-color: #56b6c2 !important;
  box-shadow: none !important;
}
