/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Share+Tech&family=Smooch+Sans:wght@100..900&family=VT323&display=swap");

:root {
  --bs-body-font-family: "Share Tech", sans-serif;
  --app-bg: #282c34;
  --app-color: white;
  --app-fontSize: 1.2rem;
  --background: #282c34;
  --keyword: #c678dd;
  --class: #e06c75;
  --method: #61afef;
  --property: #e5c07b;
  --number: #d19a66;
  --this: #56b6c2;
  --comment: #5c6370;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "VT323", monospace;
}

body {
  margin: 0;
  background-color: var(--app-bg);
  color: var(--app-color);
  font-size: var(--app-fontSize);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
